.my-button-dark {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #212529;
    color: #FFFFFF;
    width: 125px;
    border: none;
    border-style: none;
    border-radius: 4px;
}

    .my-button-dark:hover {
        background-color: #6B6A6A;
    }
