@page "/"
@inject NavigationManager navigate

<PageTitle>Index</PageTitle>

<div class="container-fluid">

    @*<div class="row" style="/*height:90vh;*/">
        <div class="container-fluid p-2 bg-dark">
            <div class="container-fluid background_img"></div>
        </div>
    </div>*@

    <header class="container-fluid content_center back_img">
        @*<img class="img-fluid" src="/img/bg8.jpg" alt="Architecture" style="background-size: cover;">*@
        <div class="@*w3-display-middle*@ @*w3-margin-top*@ w3-center">
            @*<h1 class="w3-xxlarge text-white"><b>24x7 Services</b></h1>*@
            <div class="container">
                <div class="row">
                    <div class="cus_font_1">24x7 Services</div>
                </div>
                @*<div class="row">
                    <div class="container searchbox_container">
                        <div class="input-group">
                            <input type="text" class="form-control cus_search_input" placeholder="Search by Skills"/>
                            <button class="none_button px-3 cus_add_button"><span class="oi oi-magnifying-glass"></span></button>
                        </div>
                    </div>
                </div>*@
                @*<div class="row">
                    <div class="cus_font_2">
                        Find the Projects Suitable for You. Publish Projects You Have.
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="cus_font_3 mt-5">
                                Already have an Account,<br /> Login to your Account,<br /> from LogIn.
                            </div>
                        </div>
                        <!--<div class="row content_center">
                            <button class="front_but mt-3 py-2">LogIn</button>
                        </div>-->
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="cus_font_3 mt-5">
                                New to the Service,<br /> Create your Account Today,<br /> from SignUp.
                            </div>
                        </div>
                        <!--<div class="row content_center">
                            <button class="front_but mt-3 py-2">Create an Account</button>
                        </div>-->
                    </div>
                </div>*@
            </div>
        </div>
    </header>   

    <div class="row my-3">
        <div class="container-fluid bg-dark">
            <div class="container-fluid">
                <div class="row">
                <div class="col-md-5 py-2 content_center">
                    <img class="img-fluid" @*style="height:50vh;"*@ src="/img/bg2.jpg">
                </div>
                <div class="col-md-7 py-2">
                    <div class="container-fluid bg-white text-dark h-100 custom_p">
                        <p>The Catering was founded in blabla by Mr. Smith in lorem ipsum dolor sit amet, consectetur adipiscing elit consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute iruredolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.We only use ingredients.</p>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="row my-3">
        <div class="container-fluid bg-dark">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-7 py-2">
                        <div class="container-fluid bg-white text-dark h-100 custom_p">
                            <p>The Catering was founded in blabla by Mr. Smith in lorem ipsum dolor sit amet, consectetur adipiscing elit consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute iruredolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.We only use ingredients.</p>
                        </div>
                    </div>    
                    <div class="col-md-5 py-2">
                        <img class="img-fluid" src="/img/bg4.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

<div></div>