
.edit-buttons {
    background-color: gray;
    color: #E9EAE4;
    font-size: 11px;
    border-radius: 12px;
    border: none;
}

    .edit-buttons:hover {
        border: none;
        color: #212529;
    }

label {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #6B6A6A;
    font-style: oblique;
    text-align: justify;
}

.card-header-title {
    font-size: 14px;
    color: #212529;
}

.card-header-info {
    font-size: 11px;
    color: #6B6A6A;
}
