
<div class="modal fade show" id="myModal" style="display:block; background-color: rgba(10,10,10,.8);" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">This is the title</h4>
                <button class="close none_button"><span class="oi oi-x"></span></button>
            </div>
            <div class="modal-body">
                <p>This is the message body</p>
            </div>
            <div class="modal-footer">
                <p>This is the footer body</p>
            </div>
        </div>
    </div>
</div>
