
<div class="modal fade show" id="myModal" style="display:block; background-color: rgba(10,10,10,.8);" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <EditForm Model="user" OnValidSubmit="@saveData">
                <DataAnnotationsValidator></DataAnnotationsValidator>
                <div class="modal-header">
                    <h4 class="modal-title">Change Password</h4>
                    <button class="close none_button" @onclick="@modalCancel"><span class="oi oi-x"></span></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="mb-3">
                            <label for="opassword">Old Password :</label>
                            <InputText type="password" id="opassword" class="form-control" @bind-Value="user.opassword"></InputText>
                            <ValidationMessage For="() => user.opassword"></ValidationMessage>
                        </div>
                        <div class="mb-3">
                            <label for="npassword">New Password :</label>
                            <InputText type="password" id="npassword" class="form-control" @bind-Value="user.npassword"></InputText>
                            <ValidationMessage For="() => user.npassword"></ValidationMessage>
                        </div>
                        <div class="mb-3">
                            <label for="cpassword">Confirm Password :</label>
                            <InputText type="password" id="cpassword" class="form-control" @bind-Value="user.cpassword"></InputText>
                            <ValidationMessage For="() => user.cpassword"></ValidationMessage>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button @onclick="@modalCancel" class="btn my-button-dark">Cancel</button>
                    <input type="submit" class="btn my-button-dark" value="Change"/>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback<bool> onClose { get; set; }
    [Parameter]
    public int id { get; set; }

    private ChangePasswordModel user = new();

    private void saveData()
    {
        Console.WriteLine("user about valid submition");
    }

    private Task modalOk()
    {
        saveData();
        return onClose.InvokeAsync(true);
    }

    private Task modalCancel()
    {
        return onClose.InvokeAsync(false);
    }
}