/*
.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}*/

.sidebar {
    /*background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);*/
    background-color: #212529;
}

.content_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 641px) {
    .top_row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    article {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
}

/*@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 100vw;
        height: 100px;
        position: sticky;
        top: 0;
        z-index: 1;
    }

    article {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
}*/