
<style>
    .cus_page {
        background-color: #212529;
    }

    .none_buttons {
        border: none;
        border-style: none;
        background-color: #212529;
        color: white;
    }

    .trd {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<div class="container-fluid cus_page">
    <div class="row">
        @*<div class="col-md-4">Managements</div>
        <div class="col-md-4">About Us</div>
        <div class="col-md-4">Complains</div>*@
        <br />
        <table class="mt-3 mb-2">
            <tr>
                <td class="trd"><button class="none_buttons">24x7 Services</button></td>
                <td ><button class="none_buttons">Management</button></td>
                <td ><button class="none_buttons">About Us</button></td>
                <td ><button class="none_buttons">Complains</button></td>
            </tr>
        </table>

    </div>
</div>